  <div id="main" class="flex flexv">
    <img class="center" src="images/beer.png">
    {{!-- Check the beers button --}}
    <a href="/beers" class="btn btn-primary center" role="button" aria-disabled="true">Check the Beers!</a>
    

    <a class="btn btn-primary center" href="/random-beers">Check a Random Beer!</a>
</div>